Resume Refiner AI Agent Workflow.json
{
  "name": "Resume Refiner AI Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Resume Refiner",
        "formDescription": "Upload your resume and the job description link. Our AI Agent will analyze them and email you tailored suggestions for improvement.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Your Resume",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "Link to the Job Posting",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Role",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Email for Results",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -16,
        0
      ],
      "id": "322c66cd-6ac6-46f9-8de6-5aa78d7ea257",
      "name": "On form submission",
      "webhookId": "ba4dd1ba-a8ab-49db-a405-d0d460a4c450"
    },
    {
      "parameters": {
        "url": "={{$('On form submission').item.json['Link to the Job Posting']}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "2c069de1-6f0a-466b-aa42-684f8e6dfde3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional resume tailoring assistant. \nCompare the user’s resume with the job description provided, focusing on the specific role.\n\n1. Start with a Match Overview: Explain how well the resume {{ $('On form submission').item.json['Upload Your Resume'][0].filename }} aligns with the job description and where alignment is weak. Mention the role title directly.\n2. Under \"What Matches Well,\" call out specific sections or skills from the resume that align with job description requirements. \n3. Under \"Areas to Improve,\" highlight exact parts of the resume (e.g., summary, skills list, specific job bullets) that should be rewritten or expanded. Suggest concrete revisions, not generic tips.\n4. Under \"Formatting Tips,\" give practical advice to make the resume more clear and scannable for recruiters.\n\nMake sure to format your response as:\n\n  \"match_overview\": \"How well the resume aligns with the job\",\n  \"aligned_sections\": [\"Matching point 1\", \"Matching point 2\"],\n  \"improvements\": [\"Improvement 1\", \"Improvement 2\"],\n  \"formatting\": \"[Formatting layout tips 1\", \"Formatting layout tips 2\"\n}\n{{ $('On form submission').item.json['Link to the Job Posting'] }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "2a2ab5ed-9c16-4690-acb9-9f580e67b0cf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        208
      ],
      "id": "d5c1cfd2-4ea2-4764-8334-447c21f0360e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wWVUb5si8vNl55zM",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"match_overview\": \"Your resume matches the job posting moderately well. You cover leadership and team coordination, but could add more about event planning.\",\n  \"aligned_sections\": [\n    \"Team leadership experience matches the management requirement\",\n    \"Conflict resolution skills align with the role’s emphasis on people management\"\n  ],\n  \"improvements\": [\n    \"Add details about coordinating events or activities\",\n    \"Emphasize your experience in managing group dynamics\"\n  ],\n  \"formatting\": [\n    \"Consider adding a 'Relevant Experience' section where you focus on leadership and coordination\",\n    \"Keep resume to 1-2 pages\"\n  ]\n}\n\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        576,
        288
      ],
      "id": "814635e6-e91d-4525-9003-c25a20ecc818",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sendTo": "rhyanna.goodman97@gmail.com",
        "subject": "=Subject: 📝 Resume Refinement for {{ $('On form submission').item.json['Target Role'] }} Role",
        "message": "=<h2> Resume Feedback Aligned to the {{ $('On form submission').item.json['Target Role'] }} Role </h2>\n\n<p><strong>Match Overview:</strong><br>\n{{ $json.output.match_overview }}</p>\n\n<p><strong>What Matches Well:</strong></p>\n<ul>\n  {{ $json.output.aligned_sections.map(point => \"<li>\" + point + \"</li>\").join(\"\") }}\n</ul>\n\n<p><strong>Areas to Improve:</strong></p>\n<ul>\n  {{ $json.output.improvements.map(item => \"<li>\" + item + \"</li>\").join(\"\") }}\n</ul>\n\n<p><strong>Formatting Tips:</strong></p>\n<ul>\n  {{ $json.output.formatting.map(item => \"<li>\" + item + \"</li>\").join(\"\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        816,
        0
      ],
      "id": "78a7fa39-449a-4dca-80cf-14e7e9e89d41",
      "name": "Send a message",
      "webhookId": "fce9b15f-3f4a-4cd2-bc13-66d394d8dd16",
      "credentials": {
        "gmailOAuth2": {
          "id": "bSh9zVafGbtZWVGz",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4c66ad6d-fe4d-4f6a-a238-01f56dd80a58",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45216f18d230c77c538d39baca83155d8adbaec043c4b91b23160ab0dec662b3"
  },
  "id": "WCeSju5k0Unnh96R",
  "tags": []
}